.bg {
  background: linear-gradient(135deg, #74ebd5, #9face6);
  min-height: 100vh;
}

.center {
  text-align: center;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

textarea, input {
  width: 100%;
  margin-top: 10px;
}

.paste-content {
  text-align: center;
  font-size: 16px;
}
